@charset "UTF-8";

#calculate table{
	border-spacing: 0px;
}

#table1 img{
	position:relative;
	top: 7px;
}

#table1 input[type= "text"]{
	position:relative;
	height: 20px;
	width: 150px;
	top: -2px;
	
	padding-left: 5px;
}

#table1 input[type= "button"]{
	position:relative;
	height: 25px;
	width: 50px;
	top: -2px;
	
}

#table1 select{
	position:relative;
	height: 25px;
	width: 100px;
	top: -2px;
	
}


#calculate td{
	border: 1px solid #ccc;
	width: 200px;
}

#calculate table tr:first-of-type{
	background: #eee;
}
#calculate{
	margin-top: 13px;
	margin-left: 30px;
	width: 1030px;
	
	text-align: center;
	line-height: 30px;
	height: 300px;
}

#calculate h3{
	text-align: left;
	margin-bottom: 10px;
}


#table1{
	width: 1030px;
	
	text-align: center;
	line-height: 50px;
	height: 170px;
}
#table1 h3{
	text-align: left;
}
#table1 div{
	float: left;
	border: 1px solid #ccc;
}

#table1 > div:nth-of-type(2n+1){
	border: 1px solid #ccc;
	width: 200px;
	height: 50px;
	background: #eee;
}

#table1 > div:nth-of-type(2n+2){
	width: 800px;
	height: 50px;
	text-align: left;
	padding-left: 10px;
}

#table1 > div:nth-of-type(1) > input{
	width: 80px;
	height: 30px;
	border: 1px solid #ccc;	
	margin-top: 10px;
	line-height: 30px;
	text-align: center;
	background: #fff
}
#table2{
	width: 1030px; 	
	height: 140px;
}
#chart{
	
}

#calendar
    {
        border:1px solid #BDBDBD;
        text-align:center;
        width:30%;
    }