@charset "UTF-8";

#showMember{
	margin-top: 20px;
	margin-left: 30px;
	height: 60px;
	width: 800px;
}

#showMember div{
	text-align: center;
}
#showMember h3{
	margin: 10px 0;
}
#showMember h4{
	margin: 5px 0;
}

#table1{
	width: 800px;
	margin-top: 30px;
}

#showMember > div > div{
	border: 1px solid #ccc;
	height: 40px;
	line-height: 40px;
	float: left;
	box-sizing: border-box;
}

.tttt{
	background: #eee;
}


#showMember > div > div:nth-of-type(4n+1){
	width: 200px;
}

#showMember > div > div:nth-of-type(4n+2){
	width: 200px;
}

#showMember > div > div:nth-of-type(4n+3){
	width: 200px;
}

#showMember > div > div:nth-of-type(4n+4){
	width: 200px;
}

#showMember > div > div > input{
	width: 130px;
}
#showMember > div > div:nth-of-type(4) > input{
	width: 60px;
}

#showMember + div{
	margin-left: 30px;
	width:800px;
	text-align: right;
}

#showMember + div> input{
	width: 150px;
	height: 30px;
}

#showMember input{
	float: left;
	width: 55px;
	height: 25px;
	
	margin-top: 7px;
}

#showMember input:nth-of-type(1){
	margin-left: 40px;
}
#showMember input:nth-of-type(2){
	margin-left: 10px;
}
