@charset "UTF-8";

#table1, #table2{
	margin-left: 30px;
	width: 1030px;
	text-align: center;
	line-height: 50px;
	height: 200px;
}

#table1 input[type="text"]{
	text-align: center;
	
	border: none;
	outline: noner
}

#table3{
	margin-left: 30px;
	width: 1030px;
	text-align: center;
	line-height: 50px;
	height: 290px;
}


#table2{
	height: 230px;
}

#table2 input[type="button"]{
	margin-top: 30px;
	height: 25px;
	width: 70px;
}
#table3 input[type="button"]{
	margin: 5px;
	margin-top: 30px;
	height: 25px;
	width: 70px;
}


#table1 h3, #table2 h3, #table3 h3{
	text-align: left;
}
#table1 h4,#table2 h4,#table3 h4{
	text-align: left;
}
#table1 > div > div, #table2 > div > div{
	float: left;
	border: 1px solid #ccc;
	box-sizing:border-box;
	height: 40px;
	line-height: 40px;
}

.ootitle > div{
	background: #eee;
}

#table1 > div > div:nth-of-type(6n+1){
	width: 100px;
}
#table1 > div > div:nth-of-type(6n+2){
	width: 100px;
}
#table1 > div > div:nth-of-type(6n+3){
	width: 350px;
}
#table1 > div > div:nth-of-type(6n+4){
	width: 180px;
}
#table1 > div > div:nth-of-type(6n+5){
	width: 100px;
}
#table1 > div > div:nth-of-type(6n+6){
	width: 200px;
}

#table2 > div > div:nth-of-type(2n+1){
	width: 230px;
	background: #eee;
}
#table2 > div > div:nth-of-type(2n+2){
	width: 800px;
	
}

.category{
	background: white;
	border: none;
}
.inspection > .category  > div{
	width: 255px;
	background: #eee;
	float: left;
	border: 1px solid #ccc;
}
.inspection > .Detail > div{
	width: 255px;
	height: 230px;
	border: 1px solid #ccc;
	
	float: left;
	font-size: 50px;
	font-weight: bolder;
	line-height: 190px;
}

.inspection > .Detail > div > img{
	width: 254px;
	height: 229px;
}

.upfileButton{
	padding-left: 260px;
}

.wrapper #body{
	height: 900px;
}
