@charset "UTF-8";

#table1{
	height: 125px;
	width: 1030px;
	margin-left: 30px;
}
#table1 div{
	text-align: center;
	float: left;
	
	
}
#table1 > div{
	border: 1px solid #ccc;
	box-sizing: border-box;

}

#skind1{
	width: 150px;
	height: 30px;
	position: relative;	 
	top: -3px;
	left: 7px;
}

#table1 > div > div > input:first-of-type{
	width: 500px;
	height: 26px;
	position: relative;	 
	top: -3px;
	left: 7px;
	
}
#table1 > div > div > input:nth-of-type(2){
	width: 70px;
	height: 30px;
	position: relative;	 
	top: -3px;
	left: 7px;
}



#table1 > div:nth-of-type(1){
	width: 200px;
	height: 50px;
	line-height: 50px;
	background: #eee;
}

#table1 > div:nth-of-type(2){
	width: 830px;
	height: 50px;
	line-height: 50px;
}


#table2{
	width: 1030px;
	height: 1000px;
	margin-left: 30px;
}

#table2 > div > div{
	float: left;
	
	border: 1px solid #bbb;
	box-sizing: border-box;
	
	text-align: center;
	
}

#table2 > #title > div{
	height: 30px;
	
	background: #eee;
	
	line-height: 30px;	
}

#table2 > #date > div{
	height: 30px;
	
	background: #fff;
	
	line-height: 30px;
}

#table2 > div > div:nth-of-type(6n+1){
	width: 50px;
}
#table2 > div > div:nth-of-type(6n+2){
	width: 100px;
}

#table2 > div > div:nth-of-type(6n+3){
	width: 590px;
}

#table2 > div > div:nth-of-type(6n+4){
	width: 100px;
}

#table2 > div > div:nth-of-type(6n+5){
	width: 100px;
}

#table2 > div > div:nth-of-type(6n+6){
	width: 90px;
}

#ppinsert{
	height: 30px;
	width: 100%;
	text-align: right;
}

#table2> div:first-of-type {
	width:1030px;
	height: 38px;
}
#table2> div:first-of-type>input {
	float: right;
	height: 28px;
	width: 100px;
}
.btn1 {
	border: none;
	outline: none;
	background-color: white;
	color: #aaaaaa;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
}

.btn1:hover {
	color: black;
}

.btn1:focus {
	color: black;
}

.btnCC {
	color: black;
}

.btnDD{
	text-align: center;
	height: 300px;
	line-height: 80px;
}