@charset "UTF-8";

#memsch{
	width: 950px;
	height: 180px;
	margin-top: 50px;
	margin-left: 50px;
	line-height: 50px;
	
	
}
.memschbox1{
	float: left;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	background-color: #eee;
	border: 1px solid #bbb;
}
.memschbox2{
	width: 950px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	border: 1px solid #bbb;
	
}
.memschbox2 input[type="text"]:first-of-type{
	margin-left: 15px;
	
}
.memschbox2 input[type="text"]{
	width: 150px;
	height: 20px;
	
}

.memschbox2 select{
	margin-left: 15px;
	width: 100px;
	height: 25px;
	
}
.memschbox2 input[type="button"]{
	width: 40px;
	height: 25px;
	
}
.memschbox2 > img{
	position: relative;
	top: 10px;
}
#memlist{
	width: 970px;
	height: 1000px;
	margin-left: 50px;
}
#memlist > #mmtitle > div{
	border : 1px solid #bbb;
	height: 30px;
	background: #eee;
	line-height: 30px;
}
#memlist > #mmdata > div{
	border : 1px solid #bbb;
	height: 30px;
	background: #fff;
	line-height: 30px;
}
#memlist > div > div{
	float: left;
	text-align: center;	
}
#memlist > div > div:nth-of-type(8n+1){
	width: 50px;	
}
#memlist > div > div:nth-of-type(8n+2){
	width: 200px;
}
#memlist > div > div:nth-of-type(8n+3){
	width: 90px;
}
#memlist > div > div:nth-of-type(8n+4){
	float: left;
	width: 200px;
}
#memlist > div > div:nth-of-type(8n+5){
	width: 160px;
}
#memlist > div > div:nth-of-type(8n+6){
	width: 60px;
}
#memlist > div > div:nth-of-type(8n+7){
	width: 100px;
}
#memlist > div > div:nth-of-type(8n+8){
	width: 80px;
}


.btn {
	border: none;
	outline: none;
	background-color: white;
	color: #aaaaaa;
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.btn:hover {
	color: black;
}

.btn:focus {
	color: black;
}

.btnCC {
	color: black;
}

.btnDD{
	text-align: center;
	height: 300px;
	line-height: 80px;
}